<h1>Listing ideas</h1>

<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
    	<div class="span4">
     		<% if idea.picture_url && idea.picture_url.include?("mp4") %>
      		
      			<video controls width="350">
      				<source src="<%= idea.picture_url %>" type="video/mp4">
      			</video>
      		<% else %>
      	  		<%= image_tag idea.picture_url, :width => '350px' if idea.picture%>
      		<% end %> 
      		<h4><%= link_to idea.name, idea %></h4>
       			<%= idea.description %>
      	</div>
    <% end %>
  </div>
<% end %>